#join_top {
	width:1058px;
	margin:0 auto;
	padding:40px 0;
	margin-bottom:25px;
}
#join_title {
	font-size:24px;
	color:#111;
	font-weight:bold;
	float:left;
}
#join_left {
	color:#bdbcbc;
	font-size:16px;
	padding-top:8px;
	float:right;
}
#red_color1 {
	color:#D34E3B;
}
table,th,td{
	border-collapse: collapse;
}
th{
	background-color:#f7f7f7;
	border-top:1px solid #717171;
	border-bottom:1px solid #dbdbdb;
}
td{
	border-bottom:1px solid #dbdbdb;
}
td a{
	color:#717171;
	text-decoration:none;
}
td a:hover{
	text-decoration:underline;
}

.notice_check{
	width:100px;
	text-align:center;
}
#result{
	margin-top:40px;
	border:2px solid #d6d6d6;
	padding: 40px 20px;
    text-align: right;
    vertical-align: middle;
	color:#828282;
}
#result_img{
	width:30px;
	margin:0 5px -10px 5px;
}
#basket_img{
	margin:10px 0;
	width: 72px;
    border: 1px solid #a7a7a7;
	float:left;
}
#basket_img_name{
	float:left;
	margin:10px 5px;
}
#deduction{
	padding:3px 2px;
	margin:5px 0;
	background-color:#ff4c2e;
	color:white;
	width:48px;
	font-size:11px;
}
#basket_input{
	width:30px;
	border: 1px solid #a7a7a7;
	text-align:center;
}
#basket_delete,#basket_select_buy{
	width:81px;
	padding:6px 12px;
	font-size:12px;
	background-color:white;
	color:#666666;
	border:1px solid #a3a3a3;
	font-weight:bold;
}
#basket_delete{
	float:left;
}
#basket_delete:hover,#basket_select_buy:hover{
	color:#6b6b6b;
	border:1px solid #6b6b6b;
	cursor:pointer;
}
#basket_buy{
	width:300px;
	float:right;
}
#basket_select_buy{
	margin-right:14px;
}
#basket_select_buy,#basket_full_buy{
	width:190px;
	padding:20px 0;
	text-align:center;
	font-size:14px;
	float:left;
}
#basket_full_buy{
	background-color:#2c2c2c;
	border:1px solid #2c2c2c;
	color:white;
}
#basket_full_buy:hover{
	background-color:#6b6b6b;
	border:1px solid #6b6b6b;
	cursor:pointer;
}
#basket_buy,#basket_delete{
	margin:18px 0 95px 0;
}
#red_color{
	margin-top:10px;
	width:328px;
	font-size:12px;
	color:#D34E3B;
	float:right;
}
#side{
	width:180px;
	float:left;
	margin-top:45px;
}
#side_menu li{
	margin:22px 0;
	font-weight:bolder;
	font-size:14px;
}
#side_menu li a{
	color:#242424;
	text-decoration:none;
}
#side_menu li a:hover{
	text-decoration:underline;
}
#center_line{
	width:30px;
	margin:10px 0 14px 0;
	border-top:1px solid #242424;
}
h2{
	font-weight:900;
}
h5{
	margin-top:50px;
}
h3{
	font-weight:bolder;
}
#time{
	margin-top:16px;
	font-size:12px;
	line-height:17px;
	color:#959595;
}
#notice_main{
	float:left;
}
#notice_main_title{
	font-size:18px;
	font-weight:bold;
	margin:25px 0 15px 0;
}
.notice_check{
	text-align:center;
	width:50px;
}
.notice{
	padding:10px 0;
	width:90px;
	font-size:14px;
	color:#717171;
	text-align:center;
}
.notice_title{
	width:420px;
	font-size:14px;
	color:#717171;
}
#search{
	width:860px;
	margin-top:37px;
	background-color:#f7f7f7;
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	padding:10px 0;
	text-align:center;
}
#search_select,#search_text{
	padding:5px;
	border:1px solid #d0d0d0;
}
#search_text{
	width:280px;
}
#search_button,.write_button{
	background-color:#979797;
	color:white;
	border:none;
	padding:6px 10px;
}
.write_button{
	float:right;
	margin-right:22px;
	font-size:12px;
}
#search_button:hover,.write_button:hover{
	background-color:#626262;
	cursor:pointer;
}
#email_select{
	margin-bottom:15px;
}
.number_page_center{
	width:790px;
	margin-top:20px;
	text-align:center;
}
.number_page_center ul li{
	padding:5px;
	display:inline;
}
.number_page_center ul li a{
	color:#717171;
	text-decoration:none;
}
#number_page{
	margin:0 auto;
	margin-top:20px;
	width:25px;
	height:22px;
	text-align:center;
	padding-top:3px;
}